WSDL_CREATION_NEW.wsdl


<wsdl:definitions xmlns:s0="urn:PCT_Creacion_WS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:PCT_Creacion_WS">
<wsdl:types>
<xsd:schema elementFormDefault="qualified" targetNamespace="urn:PCT_Creacion_WS">
<xsd:element name="CREATE" type="s0:InputMapping1"/>
<xsd:complexType name="InputMapping1">
<xsd:sequence>
<xsd:element name="Tipo_de_Ticket" nillable="true" type="s0:Tipo_de_TicketType"/>
<xsd:element minOccurs="0" name="Servicio_en_Remedy" type="xsd:string"/>
<xsd:element minOccurs="0" name="Servicio_Fuera_de_Remedy" type="xsd:string"/>
<xsd:element minOccurs="0" name="Tipo_de_Falla" type="xsd:string"/>
<xsd:element minOccurs="0" name="Tipo_de_Solicitud" type="xsd:string"/>
<xsd:element minOccurs="0" name="Descripcion_Detallada" type="xsd:string"/>
<xsd:element minOccurs="0" name="Ticket_de_Proveedor" type="xsd:string"/>
<xsd:element minOccurs="0" name="Accion" type="xsd:string"/>
<xsd:element name="Estado_de_procesamiento" type="s0:Estado_de_procesamientoType"/>
<xsd:element minOccurs="0" name="Impacto" nillable="true" type="s0:ImpactoType"/>
<xsd:element minOccurs="0" name="Urgencia" nillable="true" type="s0:UrgenciaType"/>
<xsd:element minOccurs="0" name="Prioridad" nillable="true" type="s0:PrioridadType"/>
<xsd:element minOccurs="0" name="Categoria_de_Producto1" type="xsd:string"/>
<xsd:element minOccurs="0" name="Categoria_de_Producto2" type="xsd:string"/>
<xsd:element minOccurs="0" name="Categoria_de_Producto3" type="xsd:string"/>
<xsd:element minOccurs="0" name="Nombre_del_producto" type="xsd:string"/>
<xsd:element minOccurs="0" name="Categoria_Operacional1" type="xsd:string"/>
<xsd:element minOccurs="0" name="Categoria_Operacional2" type="xsd:string"/>
<xsd:element minOccurs="0" name="Categoria_Operacional3" type="xsd:string"/>
<xsd:element minOccurs="0" name="Attachment1_attachmentName" type="xsd:string"/>
<xsd:element minOccurs="0" name="Attachment1_attachmentData" type="xsd:base64Binary"/>
<xsd:element minOccurs="0" name="Attachment1_attachmentOrigSize" type="xsd:int"/>
<xsd:element minOccurs="0" name="Attachment2_attachmentName" type="xsd:string"/>
<xsd:element minOccurs="0" name="Attachment2_attachmentData" type="xsd:base64Binary"/>
<xsd:element minOccurs="0" name="Attachment2_attachmentOrigSize" type="xsd:int"/>
<xsd:element minOccurs="0" name="Attachment3_attachmentName" type="xsd:string"/>
<xsd:element minOccurs="0" name="Attachment3_attachmentData" type="xsd:base64Binary"/>
<xsd:element minOccurs="0" name="Attachment3_attachmentOrigSize" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="Tipo_de_TicketType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Incidente"/>
<xsd:enumeration value="WorkOrder"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Estado_de_procesamientoType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Nuevo"/>
<xsd:enumeration value="Procesado"/>
<xsd:enumeration value="Error"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ImpactoType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1-Extensive/Widespread"/>
<xsd:enumeration value="2-Significant/Large"/>
<xsd:enumeration value="3-Moderate/Limited"/>
<xsd:enumeration value="4-Minor/Localized"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="UrgenciaType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1-Critical"/>
<xsd:enumeration value="2-High"/>
<xsd:enumeration value="3-Medium"/>
<xsd:enumeration value="4-Low"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PrioridadType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Critical"/>
<xsd:enumeration value="High"/>
<xsd:enumeration value="Medium"/>
<xsd:enumeration value="Low"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="CREATEResponse" type="s0:OutputMapping1"/>
<xsd:complexType name="OutputMapping1">
<xsd:sequence>
<xsd:element minOccurs="0" name="Resultado" type="xsd:string"/>
<xsd:element minOccurs="0" name="Ticket_IMSS" type="xsd:string"/>
<xsd:element name="Estado_de_procesamiento" type="s0:Estado_de_procesamientoType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo"/>
<xsd:complexType name="AuthenticationInfo">
<xsd:sequence>
<xsd:element name="userName" type="xsd:string"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="CREATESoapOut">
<wsdl:part element="s0:CREATEResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="ARAuthenticate">
<wsdl:part element="s0:AuthenticationInfo" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CREATESoapIn">
<wsdl:part element="s0:CREATE" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="PCT_Creacion_WSPortPortType">
<wsdl:operation name="CREATE">
<wsdl:input message="s0:CREATESoapIn"> </wsdl:input>
<wsdl:output message="s0:CREATESoapOut"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="PCT_Creacion_WSPortSoapBinding" type="s0:PCT_Creacion_WSPortPortType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CREATE">
<soap:operation soapAction="urn:PCT_Creacion_WS/CREATE" style="document"/>
<wsdl:input>
<soap:header message="s0:ARAuthenticate" part="parameters" use="literal"> </soap:header>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PCT_Creacion_WSService">
<wsdl:documentation>Creacion de Incidentes y Solicitudes recibidas de IPICYT</wsdl:documentation>
<wsdl:port binding="s0:PCT_Creacion_WSPortSoapBinding" name="PCT_Creacion_WSPortSoap">
<soap:address location="https://10.100.4.43/arsys/services/ARService?server=cnvqaapremedy07&webService=PCT_Creacion_WS"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>