GLPI/glpi_creacion.wsdl

<wsdl:definitions xmlns:s0="urn:PCT_Creacion_WS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:PCT_Creacion_WS">
<wsdl:types>
<xsd:schema elementFormDefault="qualified" targetNamespace="urn:PCT_Creacion_WS">
<xsd:element name="CREATE" type="s0:InputMapping1"/>
<xsd:complexType name="InputMapping1">
<xsd:sequence>
<xsd:element minOccurs="0" name="Impacto" nillable="true" type="s0:ImpactoType"/>
<xsd:element minOccurs="0" name="Urgencia" nillable="true" type="s0:UrgenciaType"/>
<xsd:element minOccurs="0" name="Descripcion" type="xsd:string"/>
<xsd:element minOccurs="0" name="Accion" type="xsd:string"/>
<xsd:element minOccurs="0" name="Notas" type="xsd:string"/>
<xsd:element minOccurs="0" name="ProdCat01" type="xsd:string"/>
<xsd:element minOccurs="0" name="ProdCat02" type="xsd:string"/>
<xsd:element minOccurs="0" name="ProdCat03" type="xsd:string"/>
<xsd:element minOccurs="0" name="Nombre_producto" type="xsd:string"/>
<xsd:element minOccurs="0" name="CatOp01" type="xsd:string"/>
<xsd:element minOccurs="0" name="CatOp02" type="xsd:string"/>
<xsd:element minOccurs="0" name="CatOp03" type="xsd:string"/>
<xsd:element name="Estado" nillable="true" type="s0:EstadoType"/>
<xsd:element name="Ticket_Proveedor" type="xsd:string"/>
<xsd:element name="Tipo" nillable="true" type="s0:TipoType"/>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ImpactoType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1-Extensive/Widespread"/>
<xsd:enumeration value="2-Significant/Large"/>
<xsd:enumeration value="3-Moderate/Limited"/>
<xsd:enumeration value="4-Minor/Localized"/>
</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="UrgenciaType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1-Critical"/>
<xsd:enumeration value="2-High"/>
<xsd:enumeration value="3-Medium"/>
<xsd:enumeration value="4-Low"/>
</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="EstadoType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="New"/>
<xsd:enumeration value="Assigned"/>
<xsd:enumeration value="In Progress"/>
<xsd:enumeration value="Pending"/>
<xsd:enumeration value="Resolved"/>
<xsd:enumeration value="Closed"/>
<xsd:enumeration value="Cancelled"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TipoType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Incidente"/>
<xsd:enumeration value="WorkOrder"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:element name="CREATEResponse" type="s0:OutputMapping1"/>
<xsd:complexType name="OutputMapping1">
<xsd:sequence>
<xsd:element minOccurs="0" name="Resultado" type="xsd:string"/>
<xsd:element name="Incident_ID" type="xsd:string"/>
<xsd:element name="Estado" type="s0:EstadoType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="EstadoType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Nuevo"/>
<xsd:enumeration value="Procesado"/>
<xsd:enumeration value="Error"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo"/>
<xsd:complexType name="AuthenticationInfo">
<xsd:sequence>
<xsd:element name="userName" type="xsd:string"/>
<xsd:element name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="CREATESoapOut">
<wsdl:part element="s0:CREATEResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="ARAuthenticate">
<wsdl:part element="s0:AuthenticationInfo" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CREATESoapIn">
<wsdl:part element="s0:CREATE" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="PCT_Creacion_WSPortPortType">
<wsdl:operation name="CREATE">
<wsdl:input message="s0:CREATESoapIn"> </wsdl:input>
<wsdl:output message="s0:CREATESoapOut"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="PCT_Creacion_WSPortSoapBinding" type="s0:PCT_Creacion_WSPortPortType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CREATE">
<soap:operation soapAction="urn:PCT_Creacion_WS/CREATE" style="document"/>
<wsdl:input>
<soap:header message="s0:ARAuthenticate" part="parameters" use="literal"> </soap:header>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PCT_Creacion_WSService">
<wsdl:documentation>Creación y actualización de incidentes para el IPICyT</wsdl:documentation>
<wsdl:port binding="s0:PCT_Creacion_WSPortSoapBinding" name="PCT_Creacion_WSPortSoap">
<soap:address location="http://172.16.162.38//services/ARService?server=remedy"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>